.sideBar{
    display: flex;
    flex-direction: column;
    padding:55px 0px;
    height:100vh;
    background-color:var(--color-dark-gray);
}
.btn{
padding:20px;
font-size: 8px;
background-color: transparent;
color:white;
}
.btn:hover{
  background-color: var(--color-gray);
}
.btn i{
    display: block;
    margin: auto;
    font-size: 16px;
    padding-bottom: 4px;
}
@media screen and (max-width:780px){
    .sideBar{
      display: none;
    }
  }