.video{
    display: flex;
    align-items:center;
    padding: 10px;
    cursor:pointer;
    color:white;
}

.videoThumbnail{
    flex:1 1 30%;
    width: 30%;
    margin-right: 10px;
}
.infoBox{
    flex: 1 1 70%;
    width:60%;
    margin-left: 8px;
}
.infoBox *{
    margin-bottom: 8px;
    color: var(--color-light-gray);
}
.videoTitle{
    color: white;
    font-size: 20px;
}
.channel{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.viewCountAndDate{
    font-size: 14px;
}
.channelName,.date{
    margin-left: 8px;
}
.channelImg{
    border-radius: 50%;
    width:30px;
    height:30px;
}
.description{
    display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 160%;
}
@media screen and (max-width:650px){
    .videoTitle{
        font-size: 14px;
    }
    .description{
        font-size: 12px;
        line-height: 130%;
    }
    .viewCountAndDate,.channelImg{
        font-size: 13px;
    }
    .channelImg{
        border-radius: 50%;
        width:20px;
        height:20px;
    }
    .infoBox *{
        margin-bottom: 4px;
    }
}
@media screen and (max-width:930px){
    .videoThumbnail{
        flex:1 1 50%;
    }
    .infoBox{
        flex: 1 1 50%;
    }
    .videoTitle{
        font-size: 17px;
    }
}