*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}
button{
  border:none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
body{
  background: var(--color-black);
}
:root{
  /*  color */
  --color-black:#131313;
  --color-dark-gray: #202020;
  --color-gray:#313131;
  --color-light-gray:#AAAAAA;
}
.main{
  display: flex;
}