.video{
    display: flex;
    padding: 10px;
    cursor:pointer;
    font-size: 13px;

}

.videoThumbnail{
    width: 180px;
    height:100px;
    margin-right: 10px;
}
.infoBox{
    color:white;
    width:60%;
    margin-left: 8px;
}
.videoTitle{
    font-size: 14px;
    display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical;
}
.channelName,.viewCountAndDate{
color:var(--color-middle-gray);
}
.infoBox *{
    margin-bottom: 8px;
}